#square {
    width:100px;
    height: 100px;
    border: solid 2px black;
}

.red {
    background-color: red;
    color: white;
    text-align: center;
}

.yellow {
    background-color: yellow;
    color: white;
}

.pink {
    background-color: pink;
    color: white;
}

.green {
    background-color: green;
    color: white;
}

.orange {
    background-color: orange;
    color: white;
}

.purple {
    background-color: purple;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}